n8n-workflows/company-research-agent/company-research-agent.json
{
  "name": "company-research-agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY_HERE"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Give me a 3-line company research summary for: {{ $json.chatInput }}. Include what they do, their market position, and one recent development.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "ad820973-8de1-4e75-add9-4fb27bf86dd7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        96
      ],
      "id": "1c794064-48ff-4069-a920-15e8bded4402",
      "name": "When chat message received",
      "webhookId": "8e0e4c7b-6e6d-43b6-85a0-4fbe1583260b"
    },
    {
      "parameters": {
        "jsCode": "const response = $json.content[0].text;\nreturn [{ json: { output: response } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        128
      ],
      "id": "967e7b90-5a8e-4fe7-acfc-be9b4d24a3ab",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "73e527fb-0732-4563-816f-5ea6d497e48a",
  "meta": {
    "instanceId": "e961890e437c1140bfa47b425a81f6f263d53c34c32d3775520b5b6ec215747a"
  },
  "id": "E2WlUWMmjVMOloLu",
  "tags": []
}